.form {
  display: flex;
  align-items: center;
}

.form__input {
  border: none;
  padding-left: 32px;
  padding-right: 20px;
  width: 472px;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-primary);
  background-color: var(--light-grey);
}

.form__input::placeholder {
  color: rgba(42, 37, 75, 0.2);
}
