@media (max-width: 1280px) {
  .product-info__image img {
    width: 500px;
  }

  .footer__btn {
    padding: 16px 20px;
  }
}

@media (max-width: 1024.98px) {
  .header__bottom {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: visibility 0.3s ease, transform 0.3s ease;
  }

  .header__bottom--active {
    visibility: visible;
    transform: none;
  }

  .nav {
    padding: 20px 40px;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__bottom-container {
    justify-content: flex-start;
  }

  .hero__content {
    flex-direction: column;
  }

  .hero__image {
    display: none;
  }

  .benefits__item {
    grid-column: 6 span;
  }

  .benefits__list {
    row-gap: var(--gap);
  }

  .products__item {
    grid-column: 6 span;
    margin-bottom: 30px;
  }

  .products__list {
    row-gap: var(--gap);
  }

  .product__top {
    width: 100%;
  }

  .product__image {
    width: 100%;
  }

  .footer__column {
    grid-column: 6 span;
  }

  .footer__top {
    row-gap: var(--gap);
  }

  .footer__form {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .catalog__products {
    --elems: 2
  }

  .product-info__content {
    flex-direction: column;
    gap: 40px;
  }

  .product-info__text {
    padding-top: 0;
  }

  .cart__row.cart__row--heading .cart__col--quantity {
    padding-left: 30px;
  }

  .cart__col--quantity {
    padding-left: 0;
  }

  .burger {
    display: block; 
  }
}

@media (max-width: 767.98px) {
  :root {
    --container-offset: 24px;
    --gap: 16px;
  }

  .hero {
    display: block;
    padding-top: 0;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 24px;
    padding-left: 55px;
    gap: 44px;
  }

  .header__top {
    padding: 25px 0;
  }

  .hero .container {
    padding: 0;
  }

  .hero__title {
    margin-bottom: 80px;
  }

  .hero__text {
    padding: 40px 24px;
  }

  .hero__link {
    margin-top: 32px;
    order: 3;
  }

  .btn {
    width: 100%;
  }

  .benefits {
    padding-bottom: 48px;
  }

  .title__small {
    font-size: 20px;
    line-height: 140%;
  }
  
  .title--centered {
    text-align: left;
  }

  .title--mb-large {
    margin-bottom: 36px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .benefits__list {
    gap: 36px;
  }

  .benefits__item {
    grid-column: 4 span;
  }

  .benefits__subtitle {
    font-size: 16px;
    line-height: 140%;
  }

  .benefits__descr {
    font-size: 14px;
  }

  .products {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .title--large {
    font-size: 20px;
  }

  .title--mb-small {
    margin-bottom: 20px;
  }

  .products__item {
    grid-column: 2 span;
  }

  .product__image {
    max-height: 201px;
  }

  .products__list--mobile-slider {
    display: flex;
    width: calc(100% + var(--container-offset));
    overflow-x: auto;
  }

  .products__item--big {
    width: 200px;
    flex-shrink: 0;
  }

  .products__list--mobile-slider .products__item {
    width: 200px;
    flex-shrink: 0;
  }

  .newsletter {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--white);
  }

  .newsletter__content {
    padding: 48px 9px;
    align-items: flex-start;
  }

  .title--large-xl {
    font-size: 20px;
    line-height: 140%;
  }

  .newsletter__title {
    max-width: none;
  }

  .newsletter__desrc {
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    margin-bottom: 60px;
  }

  .form__input {
    width: 224px;
  }

  .form__btn {
    padding: 16px 22px;
    width: auto;
  }

  .about__content {
    flex-direction: column;
  }

  .about__info {
    width: 100%;
    padding: 48px 24px;
    padding-bottom: 38px;
  }

  .about__image {
    width: 100%;
    height: 358px;
  }

  .about__title {
    font-size: 20px;
  }

  .about__descr {
    font-size: 14px;
  }

  .about__btn {
    margin-top: 64px;
  }

  .footer {
    padding-top: 40px;
  }

  .footer__top {
    gap: 40px;
    padding-bottom: 16px;
  }

  .footer__column {
    grid-column: 2 span;
  }

  .footer__column--big {
    grid-column: 4 span;
  }

  .footer__form {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  .footer__bottom {
    justify-content: center;
  }

  .social {
    display: none;
  }

  .notice {
    justify-content: flex-start;
  }

  .notice__text {
    max-width: 294px;
  }

  .about-hero__title {
    font-size: 32px;
    line-height: 140%;
  }

  .about-hero__content {
    padding: 32px 0;
  }

  .brand-content {
    gap: 24px;
    flex-direction: column;
  }

  .brand-info {
    padding: 32px 0;
  }

  .brand-info__text {
    padding: 36px 32px;
    padding-bottom: 30px;
    min-height: 281px;
    width: 100%;
  }

  .brand-info__image {
    width: 100%;
  }

  .brand-info__pict {
    height: 259px;
  }

  .brand-info__descr {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 56px;
  }

  .about--reverse .about__content {
    flex-direction: column-reverse;
  }

  .about--reverse .about__info {
    padding-left: 24px;
    padding-bottom: 62px;
  }

  .about__title {
    max-width: 274px;
  }

  .about__btn {
    margin-top: 48px
  }

  .benefits--about .benefits__item {
    padding: 24px;
    padding-top: 72px;
    padding-bottom: 36px;
    background-position: 24px 36px;
  }
  
  .inner-hero__content {
    padding-bottom: 32px;
    justify-content: center;
    min-height: 146px;
  }

  .inner-hero__title {
    margin: 0;
  }

  .catalog__column {
    grid-column: 4 span;
  }

  .catalog__wrapper {
    grid-column: 4 span;
  }

  .catalog__mobile-btn {
    display: inline-flex;
    margin-bottom: 20px;
  }

  .catalog__mobile-btn--active svg {
    transform: rotate(180deg);
  }

  .filters {
    display: none;
    align-items: flex-start;
  }

  .filters--active {
    display: flex;
  }

  .product-info {
    padding-top: 0;
    /* background-color: var(--white); */
  }

  .product-info .container {
    padding: 0;
  }

  .product-info__content {
    gap: 28px;
  }

  .product-info__image img {
    width: 100%;
    height: 380px;
  }

  .product-info__text {
    padding: 0 24px;
  }

  .product-info__title {
    font-size: 24px;
    line-height: 140%;
  }

  .product-info__price {
    font-size: 20px;
    line-height: 140%;
  }

  .product-info__subtitle {
    font-size: 16px;
    line-height: 140%;
  }

  .product-info__descr {
    font-size: 14px;
  }

  .stepper { 
    width: 100%; 
  }

  .product-info__btns {
    flex-direction: column;
    gap: 30px;
  }

  .cart {
    padding-top: 36px;
    padding-bottom: 50px;
  }

  .cart__content {
    background-color: var(--light-grey);
    padding: 0;
  }

  .cart__row.cart__row--heading {
    display: none;
  }

  .cart__main-title {
    position: static;
    margin: 0;
    margin-bottom: 32px;
    width: auto;
    height: auto;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: var(--dark-primary);
    transform: none;
  }

  .cart__col--total {
    display: none;
  }

  .cart-grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    grid-template-rows: 105px 55px;
    row-gap: 14px;
  }

  .cart__col--image {
    grid-column: 5 span;
  }

  .cart__image {
    width: 100%;
    height: 166px;
  }

  .cart__col--info {
    grid-column: 7 span;
  }

  .cart__stepper {
    padding: 0;
    padding-left: 14px;
  }

  .stepper--cart {
    background-color: var(--white);
  }

  .cart__col--quantity {
    grid-column: 6 / 7 span;
  }

  .cart__info {
    padding: 0;
    padding-left: 14px;
  }

  .cart__title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 140%;
  }

  .cart__table {
    border-bottom: 1px solid var(--border--grey);
    padding-bottom: 36px;
  }

  .cart__row:not(:last-of-type) {
    margin-bottom: 36px;
  }

  .cart__bottom-info {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 36px;
  }

  .cart__subtotal {
    margin-bottom: 7px;
  }
  
}